.coupon {
  text-align: left;
  margin: 0.5rem 0px;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  h3 {
    margin: 0.2rem 0px;
  }
  p {
    margin: 0.5rem 0px;
  }
  .input {
    margin: 1rem 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    font-size: 1rem;
    width: 100%;
    input {
      border: none;
      background: none;
      padding: 1rem;
    }
    button {
      border: none;
      padding: 1rem;
      background: none;
      color: #f05050;
    }
  }
}
